@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Client Example</h1>
    <p>Realtime notifications using pusher, this is a client example.</p>
</div>

<div>
    <div id="message-panel"></div>
</div>
